<h1>Users</h1>

<!-- <ul>
  <%= render @users %>
</ul -->


<% @users.each do |user| %>
  <tr>
    <td><%= user.try :name %></td>
     <%= image_tag user.user_image.url, width: 90%>

    <td><%= link_to 'Show', user %></td>
   <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
  </tr>
<% end %>
