<%= image_tag @song.user.user_image.url, width: 90 %>

<p>
  <strong>Artist:</strong>
  <%= @song.user.try :name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<audio controls="controls" source src="<%= @song.song_file.url %>"></audio>

<% @song.comments.all.each do |comment| %>
<b><%= comment.comment%></b><br>
<%= comment.user.try :email %><br><hr>
<% end %>

<%= form_for [@song, @song.comments.new] do |f| %>
  <%= render partial: 'comments/form', locals: { f: f } %>

  <%= f.submit "Post comment", class: "button expand" %>
<% end %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
